.btn {
  float: right;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-brand {
  padding-left: 30px;
}

img {
  /* width: 50%; */
  width: 30%;
  margin: auto;
  display: block;
}

.score {
  text-align: center;
}
